# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Temp files created by app
temp_*.pdf

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/


